In [1]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [6]:
df = pd.read_csv(r'D:\Projects\0FYP\Datasheets\Storage\storage.csv')
df.head()

,name,price,capacity,price_per_gb,type,cache,form_factor,interface,speed
0,Samsung 970 Evo Plus,54.99,1000,0.055,SSD,1024,M.2,M.2 PCIe 3.0 X4,3500
1,Samsung 980 Pro,99.99,2000,0.050,SSD,2048,M.2,M.2 PCIe 4.0 X4,7000
2,Samsung 980 Pro,59.99,1000,0.060,SSD,1024,M.2,M.2 PCIe 4.0 X4,7000
3,Kingston NV2,42.99,1000,0.043,SSD,0,M.2,M.2 PCIe 4.0 X4,7000
4,Seagate Barracuda Compute,55.00,2000,0.028,7200,256,3.5,SATA 6.0 Gb/s,160

In [20]:
#'storage': {'capacity': 0.4, 'speed': 0.3, 'price_per_gb': 0.2, 'cache': 0.1},

In [7]:
df[['capacity_spec', 'cache_spec', 'speed_spec']] = df[['capacity', 'cache', 'speed']]
df['capacity_spec'] = df['capacity_spec'] / 1000
df

,name,price,capacity,price_per_gb,type,cache,form_factor,interface,speed,capacity_spec,cache_spec,speed_spec
0,Samsung 970 Evo Plus,54.99,1000,0.055,SSD,1024,M.2,M.2 PCIe 3.0 X4,3500,1.0,1024,3500
1,Samsung 980 Pro,99.99,2000,0.050,SSD,2048,M.2,M.2 PCIe 4.0 X4,7000,2.0,2048,7000
2,Samsung 980 Pro,59.99,1000,0.060,SSD,1024,M.2,M.2 PCIe 4.0 X4,7000,1.0,1024,7000
3,Kingston NV2,42.99,1000,0.043,SSD,0,M.2,M.2 PCIe 4.0 X4,7000,1.0,0,7000
4,Seagate Barracuda Compute,55.00,2000,0.028,7200,256,3.5,SATA 6.0 Gb/s,160,2.0,256,160
...,...,...,...,...,...,...,...,...,...,...,...,...
4897,Netac NV7000-t,NaN,1000,NaN,SSD,0,M.2,M.2 PCIe 4.0 X4,7000,1.0,0,7000
4898,Nextorage G-Series,NaN,1000,NaN,SSD,0,M.2,M.2 PCIe 4.0 X4,7000,1.0,0,7000
4899,Seagate Exos X22,NaN,20000,NaN,7200,512,3.5,SATA 6.0 Gb/s,160,20.0,512,160
4900,Seagate Exos X22,NaN,20000,NaN,7200,512,3.5,SATA 6.0 Gb/s,160,20.0,512,160
4901,Seagate Exos X22,NaN,22000,NaN,7200,512,3.5,SATA 6.0 Gb/s,160,22.0,512,160

In [8]:
#'gpu': {'memory': 2.2, 'memory_ver': 1, 'g3dmark': 1.2, 'api_score': 1.2, 'blender_score': 1.2, 'fps_score': 1.2},
scaler_min_max = MinMaxScaler()
df[['capacity', 'cache', 'speed', 'price_per_gb']] = scaler_min_max.fit_transform(df[['capacity', 'cache', 'speed', 'price_per_gb']])
df

,name,price,capacity,price_per_gb,type,cache,form_factor,interface,speed,capacity_spec,cache_spec,speed_spec
0,Samsung 970 Evo Plus,54.99,0.045107,0.009737,SSD,0.007812,M.2,M.2 PCIe 3.0 X4,0.488304,1.0,1024,3500
1,Samsung 980 Pro,99.99,0.090578,0.008630,SSD,0.015625,M.2,M.2 PCIe 4.0 X4,1.000000,2.0,2048,7000
2,Samsung 980 Pro,59.99,0.045107,0.010843,SSD,0.007812,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,1024,7000
3,Kingston NV2,42.99,0.045107,0.007081,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4,Seagate Barracuda Compute,55.00,0.090578,0.003762,7200,0.001953,3.5,SATA 6.0 Gb/s,0.000000,2.0,256,160
...,...,...,...,...,...,...,...,...,...,...,...,...
4897,Netac NV7000-t,NaN,0.045107,NaN,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4898,Nextorage G-Series,NaN,0.045107,NaN,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4899,Seagate Exos X22,NaN,0.909058,NaN,7200,0.003906,3.5,SATA 6.0 Gb/s,0.000000,20.0,512,160
4900,Seagate Exos X22,NaN,0.909058,NaN,7200,0.003906,3.5,SATA 6.0 Gb/s,0.000000,20.0,512,160
4901,Seagate Exos X22,NaN,1.000000,NaN,7200,0.003906,3.5,SATA 6.0 Gb/s,0.000000,22.0,512,160

In [ ]:
#'gpu': {'memory': 2.2, 'memory_ver': 1, 'g3dmark': 1.2, 'api_score': 1.2, 'blender_score': 1.2, 'fps_score': 1.2},

In [9]:
df['price_per_gb'] = 1 - df['price_per_gb']
df

,name,price,capacity,price_per_gb,type,cache,form_factor,interface,speed,capacity_spec,cache_spec,speed_spec
0,Samsung 970 Evo Plus,54.99,0.045107,0.990263,SSD,0.007812,M.2,M.2 PCIe 3.0 X4,0.488304,1.0,1024,3500
1,Samsung 980 Pro,99.99,0.090578,0.991370,SSD,0.015625,M.2,M.2 PCIe 4.0 X4,1.000000,2.0,2048,7000
2,Samsung 980 Pro,59.99,0.045107,0.989157,SSD,0.007812,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,1024,7000
3,Kingston NV2,42.99,0.045107,0.992919,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4,Seagate Barracuda Compute,55.00,0.090578,0.996238,7200,0.001953,3.5,SATA 6.0 Gb/s,0.000000,2.0,256,160
...,...,...,...,...,...,...,...,...,...,...,...,...
4897,Netac NV7000-t,NaN,0.045107,NaN,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4898,Nextorage G-Series,NaN,0.045107,NaN,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4899,Seagate Exos X22,NaN,0.909058,NaN,7200,0.003906,3.5,SATA 6.0 Gb/s,0.000000,20.0,512,160
4900,Seagate Exos X22,NaN,0.909058,NaN,7200,0.003906,3.5,SATA 6.0 Gb/s,0.000000,20.0,512,160
4901,Seagate Exos X22,NaN,1.000000,NaN,7200,0.003906,3.5,SATA 6.0 Gb/s,0.000000,22.0,512,160

In [14]:
df['type'] = df['type'].str.replace('7200', 'HDD')
df['type'] = df['type'].str.replace('5400', 'HDD')
df['type'] = df['type'].str.replace('5900', 'HDD')
df['type'] = df['type'].str.replace('10000', 'HDD')
df['type'] = df['type'].str.replace('5700', 'HDD')
df['type'] = df['type'].str.replace('5640', 'HDD')
df['type'] = df['type'].str.replace('5000', 'HDD')
df['type'] = df['type'].str.replace('5200', 'HDD')
df['type'] = df['type'].str.replace('5760', 'HDD')
df['type'] = df['type'].str.replace('5940', 'HDD')
df

,name,price,capacity,price_per_gb,type,cache,form_factor,interface,speed,capacity_spec,cache_spec,speed_spec
0,Samsung 970 Evo Plus,54.99,0.045107,0.990263,SSD,0.007812,M.2,M.2 PCIe 3.0 X4,0.488304,1.0,1024,3500
1,Samsung 980 Pro,99.99,0.090578,0.991370,SSD,0.015625,M.2,M.2 PCIe 4.0 X4,1.000000,2.0,2048,7000
2,Samsung 980 Pro,59.99,0.045107,0.989157,SSD,0.007812,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,1024,7000
3,Kingston NV2,42.99,0.045107,0.992919,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4,Seagate Barracuda Compute,55.00,0.090578,0.996238,HDD,0.001953,3.5,SATA 6.0 Gb/s,0.000000,2.0,256,160
...,...,...,...,...,...,...,...,...,...,...,...,...
4897,Netac NV7000-t,NaN,0.045107,NaN,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4898,Nextorage G-Series,NaN,0.045107,NaN,SSD,0.000000,M.2,M.2 PCIe 4.0 X4,1.000000,1.0,0,7000
4899,Seagate Exos X22,NaN,0.909058,NaN,HDD,0.003906,3.5,SATA 6.0 Gb/s,0.000000,20.0,512,160
4900,Seagate Exos X22,NaN,0.909058,NaN,HDD,0.003906,3.5,SATA 6.0 Gb/s,0.000000,20.0,512,160
4901,Seagate Exos X22,NaN,1.000000,NaN,HDD,0.003906,3.5,SATA 6.0 Gb/s,0.000000,22.0,512,160

In [15]:
df.to_csv('storage_final.csv', index=False)