In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('harddrive.csv')
df

,name,price,capacity,price_per_gb,type,cache,form_factor,interface
0,Samsung 970 Evo Plus,54.99,1000.0,0.055,SSD,1024.0,M.2-2280,M.2 PCIe 3.0 X4
1,Samsung 980 Pro,99.99,2000.0,0.050,SSD,2048.0,M.2-2280,M.2 PCIe 4.0 X4
2,Samsung 980 Pro,59.99,1000.0,0.060,SSD,1024.0,M.2-2280,M.2 PCIe 4.0 X4
3,Kingston NV2,42.99,1000.0,0.043,SSD,NaN,M.2-2280,M.2 PCIe 4.0 X4
4,Seagate Barracuda Compute,55.00,2000.0,0.028,7200,256.0,3.5,SATA 6.0 Gb/s
...,...,...,...,...,...,...,...,...
5468,Netac NV7000-t,NaN,1000.0,NaN,SSD,NaN,M.2-2280,M.2 PCIe 4.0 X4
5469,Nextorage G-Series,NaN,1000.0,NaN,SSD,NaN,M.2-2280,M.2 PCIe 4.0 X4
5470,Seagate Exos X22,NaN,20000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s
5471,Seagate Exos X22,NaN,20000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s
5472,Seagate Exos X22,NaN,22000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s

In [18]:
df['form_factor'] = df['form_factor'].str.replace('-2280', '')
df['cache'] = df['cache'].fillna(0)
df

,name,price,capacity,price_per_gb,type,cache,form_factor,interface
0,Samsung 970 Evo Plus,54.99,1000.0,0.055,SSD,1024.0,M.2,M.2 PCIe 3.0 X4
1,Samsung 980 Pro,99.99,2000.0,0.050,SSD,2048.0,M.2,M.2 PCIe 4.0 X4
2,Samsung 980 Pro,59.99,1000.0,0.060,SSD,1024.0,M.2,M.2 PCIe 4.0 X4
3,Kingston NV2,42.99,1000.0,0.043,SSD,0.0,M.2,M.2 PCIe 4.0 X4
4,Seagate Barracuda Compute,55.00,2000.0,0.028,7200,256.0,3.5,SATA 6.0 Gb/s
...,...,...,...,...,...,...,...,...
5468,Netac NV7000-t,NaN,1000.0,NaN,SSD,0.0,M.2,M.2 PCIe 4.0 X4
5469,Nextorage G-Series,NaN,1000.0,NaN,SSD,0.0,M.2,M.2 PCIe 4.0 X4
5470,Seagate Exos X22,NaN,20000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s
5471,Seagate Exos X22,NaN,20000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s
5472,Seagate Exos X22,NaN,22000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s

In [19]:
filtered_interfaces = {
    'SATA 6.0 Gb/s': 550,
    'SATA 3.0 Gb/s': 300,
    'M.2 PCIe 3.0 X4': 3500,
    'M.2 PCIe 4.0 X4': 7000,
    'M.2 SATA': 550
}

# Filter the DataFrame to keep only the valid interfaces
df = df[df['interface'].isin(filtered_interfaces.keys())]

# Create the 'bandwidth' column and fill it with the corresponding values
df['speed'] = df['interface'].map(filtered_interfaces)
df.loc[df['type'].isin(['7200', '5400']), 'speed'] = 160

df

C:\Users\ZyroAki\AppData\Local\Temp\ipykernel_50224\777691744.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['speed'] = df['interface'].map(filtered_interfaces)

,name,price,capacity,price_per_gb,type,cache,form_factor,interface,speed
0,Samsung 970 Evo Plus,54.99,1000.0,0.055,SSD,1024.0,M.2,M.2 PCIe 3.0 X4,3500
1,Samsung 980 Pro,99.99,2000.0,0.050,SSD,2048.0,M.2,M.2 PCIe 4.0 X4,7000
2,Samsung 980 Pro,59.99,1000.0,0.060,SSD,1024.0,M.2,M.2 PCIe 4.0 X4,7000
3,Kingston NV2,42.99,1000.0,0.043,SSD,0.0,M.2,M.2 PCIe 4.0 X4,7000
4,Seagate Barracuda Compute,55.00,2000.0,0.028,7200,256.0,3.5,SATA 6.0 Gb/s,160
...,...,...,...,...,...,...,...,...,...
5468,Netac NV7000-t,NaN,1000.0,NaN,SSD,0.0,M.2,M.2 PCIe 4.0 X4,7000
5469,Nextorage G-Series,NaN,1000.0,NaN,SSD,0.0,M.2,M.2 PCIe 4.0 X4,7000
5470,Seagate Exos X22,NaN,20000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s,160
5471,Seagate Exos X22,NaN,20000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s,160
5472,Seagate Exos X22,NaN,22000.0,NaN,7200,512.0,3.5,SATA 6.0 Gb/s,160

In [20]:
df.to_csv('storage.csv', index=False)